<!DOCTYPE html>
<html>
	<head>
		<title>布局</title>
		<link rel="stylesheet" type="text/css" href="s_layout3.css">
	</head>
	<body>

	<div id="container">
		<div id="brief">
			<img src="https://gss2.bdstatic.com/-fo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike180%2C5%2C5%2C180%2C60/sign=aa8bf19956df8db1a8237436684ab631/3ac79f3df8dcd1004c4a08207a8b4710b8122fd9.jpg">
			<span>第七班</span>
		</div>


		<div id="main">
			<p>第七班，出自日本动漫《火影忍者》。火之国·木叶隐村中所属的几个小队之一，其成员是整个故事的中心，队长为旗木卡卡西，成员包括漩涡鸣人、宇智波佐助、春野樱。佐助叛离后，大和任代理队长，同时佐井作为新成员加入。（TV原创中佐井受伤的一段时期由空代替。第四次忍界大战中，第七班初始的四人重聚，并对战局发挥着决定性的作用。大筒木辉夜被第七班联合封印后，鸣人与佐助在终结之谷进行了最后的决战，最终佐助认输，二人相互认同，第七班又回到了原来的样子。</p>
		</div>


		<div id="personage">
			<img src="https://gss1.bdstatic.com/9vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike180%2C5%2C5%2C180%2C60/sign=00d2042f384e251ff6faecaac6efa272/80cb39dbb6fd526691f09a01a318972bd50736cf.jpg">
			<img src="https://gss3.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike180%2C5%2C5%2C180%2C60/sign=ef7a920e3e7adab429dd1311eabdd879/09fa513d269759ee2a0e41edbafb43166d22dfbd.jpg">
			<img src="https://gss3.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike180%2C5%2C5%2C180%2C60/sign=54411ec76ad9f2d3341c2cbdc885e176/6a600c338744ebf835f94519d1f9d72a6059a70f.jpg">
			<img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike180%2C5%2C5%2C180%2C60/sign=72a684f97ec6a7efad2ba0749c93c434/b03533fa828ba61e3d64e9094934970a304e5909.jpg">
		</div>
	</div>

	</body>
</html>